<!DOCTYPE html>
<html>
  <head>
    <title> Recipes Around the Globe </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Recipes Around The Globe</h1>
    <p></p>
    <nav><a href="/">HOME</a></nav>

  </body>
</html>

